*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.flex-container {
  display: flex;
  flex-direction: column;
  font-size: 20px;
}
.First{
    display: flex;
   justify-content: space-around;
   color: white;
   background-color:#FF4B4B;
   margin: 7px;
   text-align: center;
   line-height:30vh;
}
.second{
    display: flex;
   justify-content: space-around;
   color: white;
   background-color:#FF4B4B;
   margin: 7px;
   text-align: center;
   line-height:30vh;
}
.three{
    display: flex;
   justify-content: space-around;
   color: white;
   background-color:#FF4B4B;
   margin: 7px;
   text-align: center;
   line-height:30vh;
}




